@import url("./_typography");
@import url("./_btn");
@import url("./_input");
@import url("./_switch");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "TT Norms Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error-popup {
  transform: translateX(-50%);
}
